.s1{
    min-height: 100%;
    background-image: url(./Group\ 1.svg);
    background-size: cover  ;
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 50px;
}

.s3{
    flex-direction: column;
}

h1{
    font-size: 40px;
    padding: 30px;
}

html{
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    background-color: black;
    color: white;
    font-size: 35px;
}

input{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 3px 10px rgba(0, 0, 0, 0.19); ;
    transition: all 0.4s;
    border-radius: 30px;
    width: 200px;
    height: 45px;
}

.inputt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 100px;
}

.ac{
    display: flex;
    flex-direction: column;
}

.agh{
    display: flex;
    flex-direction: column;
}

.at{
    display: flex;
    flex-direction: column;
}

.butao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.nota{
    margin-top: 50px;
    font-size: 50px;
}


.tri{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}

.triP{
    display: flex;
flex-direction: column;
margin-top: 100px;
}

.triS{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.inputS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}